@import "../../scss/colors";
@import "../../scss/typography";

.button {
  background-color: transparent;
  cursor: pointer;
  font-size: $fontSize_M;
  font-weight: $fontWeight_semiBold;
  color: $text_primary;
  border: 1px solid $text_primary;
  padding: 8px 0;
  transition: 0.3s ease-in;

  &:hover {
    border: 1px solid transparent;
    background-color: $text_primary__transparent;
    color: $background_primary;
  }
}
