@import "../../scss/colors";
@import "../../scss/typography";

.label {
  &-wrapper {
    display: flex;

    &-column {
      flex-direction: column;
      gap: 10px 0;
    }

    &-row {
      flex-direction: row;
      align-items: center;
      gap: 0 10px;
    }
  }

  &-text {
    font-size: ($fontSize_M);
    font-weight: ($fontWeight_medium);
    color: ($text_primary);
  }
}
