@import "../../scss/colors";
.label-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.label-text {
  font-size: 20px;
  font-weight: 500;
  color: ($text_primary);
}
