$text_primary: #fafafa;
$text_primary__transparent: #fafafa80;
$text_secondary: #020202;
$background_primary: #1b263b;
$error: #db2b39;
$checkbox_checked: #58bc82;
$scroll-thumb: #888888;
$scroll-thumb_hover: #888888b3;
